.item {
	width: 256px;
	height: 271px;
	margin-bottom: 40px;
	background: #ffffff;
	filter: drop-shadow(6px 6px 4px rgba(106, 180, 211, 0.15));
	border-radius: 15px;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.item__img {
	width: 232px;
	height: 164px;
	position: relative;
	overflow: hidden; /*to hide the sliding button on the img */
	margin-top: 12px;
	margin-left: 12px;
	margin-right: 12px;
}

.item__img > img {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.item__img:hover > img {
    opacity: 0.7;
}

.item__img > button {
    position: absolute;
	top: 120px;
	right: 6px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	height: 25px;
	background: #6452a7;
	color: white;
	border: none;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 1s all ease-in;
	transform: translateX(101%);
}

.item__img:hover > button {
    transform: translateX(0);
}

.item__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
