.cartItem {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.cartItem__details {
    flex: 0.6;
}

.cartItem__details > h4 {
    border-bottom: 1px solid lightgray;
}

.cartItem__img {
    flex: 0.4;
}

.cartItem__img > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cartItem__quantity {
    display: flex;
    align-items: end;
}

.cartItem__info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 50%;
    font-size: smaller;
}

.cartItem__quantityNumber {
    margin-top: 3px;
    width: 30%;
}

.cartItem__icons > .MuiSvgIcon-root {
    cursor: pointer;
}
